<div id="fade">

  <h1>Haunted</h1>

    <div id="welcome">

      <%= form_for :user do |f| %>
        <h2>welcome</h2>

        what is your name?<br>
        
        <%= f.text_field :name %><br>
        
        or<br>

        <%= link_to "sign up / sign in", new_user_session_path, :id => "registration" %><br><br>
        
        <%= button_to "New Game", rooms_path, :class =>"button", method: :get %>
      <% end %>

    </div>

    <br>

</div>