<%= javascript_include_tag ('home'), 'data-turbolinks-track' => true %>
<div id="fade">
  <h1>Haunted</h1>
  <div id="welcome">
    <%= button_to "New Game", new_path, :class =>"button", method: :get %>
    <div id="devise">
      <%= render 'devise/menu/registration_items' %> or 
      <%= render 'devise/menu/login_items' %>
    </div>

    <div id="social-media">
      <a href="/users/auth/facebook"><img src='/images/facebook.png' width="40"></a>
      <a href="/users/auth/twitter"><img src='/images/twitter.png' width="40"></a>
    </div>

  </div>
  <br>
</div>
