<script>
vex.dialog.alert('Send your friend this url to play!<br><input id="game-url" type="text" placeholder="<%=request.original_url%>"></input>');
</script>

<input type="hidden" id="room-session" value="<%= @room_session %>">

<div id="chat-widget">
  
  <div id="msg-output"></div>
  <form id="chat-form">
    <input type="text" id="user-name"></input> <br>
    <input type="text" id="msg-input" placeholder="Message"></input>
    <input type="submit" id="send" value="send"></input>
  </form>
</div>