<input type="hidden" id="room-session" value="<%= @room_session %>">

<div id="chat-widget">
  <h3>Haunted</h3>
  <h2>Chat</h2>
  <div id="msg-output"></div>
  <form id="chat-form">
    <input type="text" id="msg-input" placeholder="Message">
    <input type="submit" id="send" value="send">
  </form>
</div>
