<h1> Chat </h1>

<div id="chat-widget">
  <div id="msg-output"></div>
  <form id="chat-form">

    <label>User Name</label>
    <input type="text" id="user-name"></input> <br>

    <input type="text" id="msg-input"></input>
    <input type="submit" id="send" value="send"></input>
  </form>
</div>