<script>
  vex.dialog.alert('Send your friend this url to play!<br><input id="game-url" type="text" value="<%=request.original_url%>"></input>');
</script>

<input type="hidden" id="room-session" value="<%= @room_session %>">

<div id="chat-widget">
  <div id="panel">
    <button id="instructions-button">Instructions</button>
    <button id="aboutus-button">About Us</button>
    <button id="player1-button">Player 1</button>
    <button id="player2-button">Player 2</button>
  </div>



  <h3>Chat</h3>
  <div id="msg-output"></div>

  <form id="chat-form">
    <input type="text" id="user-name"></input><br>
    <input type="text" id="msg-input" placeholder="Message"></input>
    <input type="submit" id="send" value="send"></input>
  </form>
</div>

<% if @sandbox %>
  <%= javascript_include_tag "sandbox.js" %>
<% else %>
  <%= javascript_include_tag "main.js" %>
<% end %>
