<input type="hidden" id="room-session" value="<%= @room_session %>">

<div id="chat-widget">
  
  <div id="msg-output"></div>
  <form id="chat-form">
    <input type="text" id="user-name"></input> <br>
    <input type="text" id="msg-input" placeholder="Message"></input>
    <input type="submit" id="send" value="send"></input>
  </form>
</div>

<%= javascript_include_tag "main" %>