@import url(http://fonts.googleapis.com/css?family=Iceland);

body {
  color: white;
  font-family: Courier;
  background-color: black;
  background-image: url('/background.jpg');
  background-size: cover no-repeat;
}

h1 {
  font-family: 'Iceland';
  font-size: 100px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px purple;
}


h2 {
  text-transform: lowercase;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 40px;
  padding: 0px;
}

canvas {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 70%; 
  height: 100%;
}

/* Chat */

#chat-widget {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0%;
  right: 0%;
  text-align: left;
}

#chat-form {
  font-family: Courier;
  text-align: left;
}

#chat-widget input {
  margin-left: 10px;
  margin-right: 0px;
  font-family: Courier;
  font-size: 1em;
}

#user-name {
  display: none;
}

#msg-input {
  width: 70%;
}

#send {
  width: 50px;
  text-align: center;
  padding: 3px;
  border: 1px solid white;
  font-family: Courier;
  font-size: 1em;
}

/* Homepage */

#welcome {
  margin: auto;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
}

#welcome a:link, a:visited {
  padding: 10px;
  color: white;
}

#welcome a:hover {
  padding: 10px;
  background-color: indigo;
  border: 1px solid white;
}

#welcome form {
  text-align: center; 
  line-height: 50px;
}

#welcome input {
  line-height: 20px;
  width: 50%;
}

#welcome .button {
  margin-bottom: 30px;
  width: 30%;
  color: white;
  padding: 7px;
  border: 1px solid;
  font-family: Courier;
  font-size: 1em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: indigo;
}

.modal.registration {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-left: -250px;
  margin-top: -150px;
}

/* to be deleted */

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}