/*
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=Iceland);

@font-face { font-family: Avenir; src: url(/Avenir.ttc); }

body {
  color: white;
  font-family: 'Avenir';
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}


