/* Mobile Only */
@media (max-width: 640px) {
  canvas {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
}

/* Desktop Only */

@media (min-width: 640px) {

canvas {
  position: fixed;
  min-width: 800px;
  top: 0%;
  left: 0%;
  width: 70%;
  height: 100%;
}

#game-url {
  width: 100%;
  font-family: 'Avenir';
  font-size: 0.8em;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Sidebar */
h2 {
  color: white;
  font-family: 'Iceland';
  font-size: 5.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 4px 4px purple;
  margin-top: 35px;
}

h2:hover {
  text-shadow: 0 0 10px #fff,
             0 0 20px #fff,
             0 0 30px #fff,
             0 0 40px #ff00de,
             0 0 70px #ff00de,
             0 0 80px #ff00de,
             0 0 100px #ff00de,
             0 0 150px #ff00de;
}

h2 a:link, a:active, a:hover {
  color: white;
  text-decoration: none;
}

h3 {
  background: rgba(255, 255, 255, 0.8);
  margin: 0px;
  padding: 10px;
}

#panel {
  text-align: center;
}

#instructions-button, #aboutus-button {
  font-family: 'Avenir';
  color: white;
  padding: 10px;
  border: 2px solid white;
  font-size: 1.2em;
  background-color: indigo;
  margin: 20px;
}

#chat-widget {
  background-color: black;
  color: black;
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0%;
  right: 0%;
  text-align: left;
  border-left: 2px white solid;
}

#chat {
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0%;
}

#chat-form {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 2px;
  margin-bottom: -10px;
  font-family: 'Avenir';
  text-align: left;
}

#chat-widget input {
  margin-left: 20px;
  margin-right: 0px;
  font-family: 'Avenir';
  font-size: 1em;
}

#user-name {
  display: none;
}

#msg-input {
  margin-top: 20px;
  line-height: 30px;
  width: 70%;
  background-color: white;
}

#msg-output {
  padding: 10px;
  background-color: white;
  width: 100%;
  height: 300px;
  overflow: auto;
}

#send {
  width: 60px;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Avenir';
}

}
