#welcome {
  margin: auto;
  width: 400px;
  font-size: 1.1em;
  font-style: bold;
  padding-top: 10px;
  text-shadow: 2px 2px 2px indigo;
  margin-top: 350px;
}

#welcome a:link, a:visited {
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 2px indigo;
}

#welcome form {
  text-align: center;
  line-height: 50px;
}

#welcome input {
  font-family: 'Avenir';
  font-size: 1em;
  line-height: 30px;
  width: 50%;
}

#welcome .button, input[type=submit] {
  margin-bottom: 30px;
  width: 30%;
  color: white;
  padding: 7px;
  border: 1px solid;
  font-family: 'Avenir';
  line-height: 20px;
  font-size: 1em;
  background-color: indigo;
}

#devise {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#devise li {
  display: inline;
}

h1 {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  color: white;
  font-family: 'Iceland';
  font-size: 8em;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px purple;
}

h1:hover {
  text-shadow: 0 0 10px #fff,
             0 0 20px #fff,
             0 0 30px #fff,
             0 0 40px #ff00de,
             0 0 70px #ff00de,
             0 0 80px #ff00de,
             0 0 100px #ff00de,
             0 0 150px #ff00de;
}

.image {
  padding:5px;
  width:20%;
  height:20%;
}

#aboutus {
  color:black;
}

.devise-menus {
  width: 500px;
  padding: 20px;
  margin: auto;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.2);
}

.devise-menus a:link {
  color: white;
}

.devise-menus input {
  font-family: 'Avenir';
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 20px;
}

#social-media {
  text-align: center;
}

#social-media img {
  background-color: white;
}
